{% extends 'main.html' %}
{% block content %}
{% include 'header.html' %}

<section>
    <div class="delete-heading">
        <div id="delete-section">
            <h2 class='delete-intro-text'> Are you sure you want to delete <br> {{ category.name }} ? </h2>
            <form action="{{ url_for('delete_category', category_id=category.id) }}" method="post">
                <input type="submit" class="me button-press new" id="delete-submit" value="Delete Item">
                <a class="me button-press" id="cancel" href="{{ url_for('sport_category' )}}">
                    Cancel
                </a>
            </form>
        </div>
    </div>
</section>

{% include 'footer.html' %}
{% endblock %}