<footer class="footer">
        <p class="end"><a href="#"> Made  with
            <i class="fa fa-heart" aria-hidden="true"></i></a></p>
        <p class="end"><a href="https://twitter.com/SomtoUgeh" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i> @SomtoUgeh </a></p>
        <p class="end"><a href="https://github.com/SomtoUgeh" target="_blank">
            <i class="fa fa-github" aria-hidden="true"></i> Somto Ugeh </a></p>
        <p class="end"><a href="#"> &copy 2017 </a></p>
</footer>