<div class="header">
    <div class="wrapper">
        <div class="logo">
            <div class="icon">
                {% if 'username' not in session %}
                    <a href="{{ url_for('home') }}">
                        <img src="{{ url_for('static', filename='logo.png') }}" alt="" srcset="">
                    </a>
                {% else %}
                    <a href="{{ url_for('sport_category') }}">
                        <img src="{{ url_for('static', filename='logo.png') }}" alt="" srcset="">
                    </a>
                {% endif %}
            </div>
        </div>
        <nav>
            <div class="side">
                <div class="sidebar">
                    {% if 'username' not in session %}
                        <a href="{{ url_for('login') }}" class="me button-press"> Login </a>
                    {% else %}
                         <a href="{{url_for('gdisconnect')}}" class="me button-press"> Sign Out </a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
</div>