{% extends 'main.html' %}
{% block content %}
{% include 'header.html' %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class = 'flash'>
                <ul>
                {% for message in messages %}
                    <li> <strong> {{ message }} </strong> </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}

    <section class="homepage-welcome">
        <div class='categories'>
            <h2 class='category-intro'> Hello there, <br>  Welcome to our Store. </h2>
            <p class='category-message'>
                We have a wonderful collection of Sport Equipments.
                It is grouped based <br> on different sports.
                Categorize your collection as you see fit.
            </p>
        </div>
        <div class="category-titles">
            <div class="category-heading">
                    <h2 class='category-intro available'> Categories Available </h2>
                    <hr>
            </div>
            <div class="title">
                <h2 class=" category-intro available item-head"> {{ category.name }}
                    <span> ( {{ total }} {% if total > 1 %} Items {% else %} Item {% endif %} ) </span>
                    <a href="{{ url_for('newitem', category_id=category.id, item_id=item.id) }}" class="me button-press new" id="add-btn">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                            Add Item
                    </a>
                </h2>
                <hr>
            </div>
        </div>
        <div class="card-section">
            <div class="card-container">
                 {% for category in categories %}
                <a class="trial cards group" href="{{ url_for('category_item', category_id=category.id) }}">
                    {{ category.name }}
                </a>
                {% endfor %}
            </div>

            <div class="add-item">
                {% for i in item %}
                <a class="trial cards add" href="{{ url_for('itemDescription', category_id=category.id, item_id=i.id) }}">
                    {{ i.name }}
                </a>
                {% endfor %}
            </div>
        </div>
    </section>

{% include 'footer.html' %}
{% endblock %}